<!DOCTYPE html/>
<html ng-app="MyApp">

<head>
    <!-- Note: load JS after html to improve rendering time -->
    <!-- script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script -->
    <script src="js/angular-1.5.0.js"></script>
    <!-- script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script -->
    <script src="js/underscore.js"></script>

    <script src="js/Chart.js"></script>

    <!-- load app module _after_ angular (otherwise you'll get 'angular not defined') -->
    <script src="js/angular-elastic-input.min.js"></script>
    <script src="js/my-app.js"></script>

    <!-- bootstrap -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/my-app.css">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/angular-material.css">
  
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-aria.js"></script>
    <script src="js/angular-messages.js"></script>

    <!-- Angular Material Library -->
    <script src="js/angular-material.js"></script>

</head>

<body>
    <div id="tm-page-header" class="container-fluid">
        <div class="container">
            <a href="/">Thinmint</a>
            <a href="/trans.html">Transactions</a>
        </div>
    </div>

    <div class="container" ng-controller="AccountController">

        <!-- account summary -->
        <div class="tm-portal tm-account-summary">
            <h3>Account Summary</h3>
            <table class="table table-condensed table-hover tm-account-list">
                <tr ng-include="'templates/account-th.html'"></tr>
                <tr ng-include="'templates/account-tr.html'"></tr>
            </table>
            <div class="text-center"> 
                <img src="icons/thinking.gif" ng-if="isThinking"/>
            </div>
        </div>

        <!-- account charts -->
        <div class="tm-portal">
            <h3>Time Series: Account Balance</h3>
            <div class="text-center">
                <div> 
                    <img src="icons/thinking.gif" ng-if="isChartThinking"/>
                </div>
                <canvas id="valueChart" width="1000" height="100"></canvas>
            </div>
        </div>

        <div ng-controller="TranQueryController">
            <div class="tm-portal">
                <h3>Chart: Transactions 
                    <small>(<a href="" ng-click="renderChartByTime(chartTrans)">by time</a>)</small> 
                    <small>(<a href="" ng-click="renderChartByTags(chartTrans)">by tags</a>)</small>
                </h3>

                <div class="text-center">
                    <div> 
                        <img src="icons/thinking.gif" ng-if="isChartThinking"/>
                    </div>
                    <canvas id="tm-tran-canvas-element" width="1000" height="100"></canvas>
                </div>
            </div>

            <div class="tm-portal" >
                <h3>Transactions <small>[{{trans.length}} of {{transSummary.count}}]</small> <span class="tm-grand-total"><small>Total Amount:</small> <span tm-is-debit="{{transSummary.amountValue < 0}}">{{ transSummary.amountValue | currency }}</span></span> </h3>
                <table class="table table-condensed table-hover tm-tran-table">
                    <tr ng-include="'templates/tran-th.html'"></tr>
                    <tr ng-repeat="tran in trans" ng-include="'templates/tran-tr.html'"></tr>

                    <tr class="tm-list-totals">
                        <th></th>
                        <th class="text-right" tm-is-debit="{{ transSums['amountValue'] < 0 }}" >{{ transSums['amountValue'] | currency}}</th>
                        <th></th>    <!-- pending -->
                        <th>Total</th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
                <img src="icons/thinking.gif" ng-if="isThinking"/>
                <button ng-if="!areAllTransFetched && !isThinking" class="btn btn-info btn-sm" ng-click="fetchNextPage()">more</button>
                <!-- button ng-if="!areAllTransFetched && !isThinking" class="btn btn-info btn-sm tm-fetch-all-trans-button" ng-click="fetchAllRemainingTrans()">all</button -->
            </div>
        </div>
    </div>

    <div id="tm-page-footer" class="container-fluid">
    </div>

</body>
</html>

