<!DOCTYPE html/>
<html ng-app="MyApp">

<head>
    <title>ThinMint - Dash</title>

    <!-- TODO: load JS after html to improve rendering time -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- script src="js/angular.min.js"></script -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <!-- script src="js/underscore-min.js"></script -->

    <!-- load app module(s) _after_ angular (otherwise you'll get 'angular not defined') -->
    <script src="js/angular-elastic-input.min.js"/></script>

    <script src="js/my-app.js"/></script>
    <script src="js/tm-factories.js"/></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- link rel="stylesheet" href="css/bootstrap.min.css" -->

    <link rel="stylesheet" href="css/my-app.css">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
    <!-- link rel="stylesheet" href="css/angular-material.min.css" -->
  
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <!-- script src="js/angular-animate.min.js"></script -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
    <script src="js/angular-aria.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
    <!-- script src="js/angular-messages.min.js"></script -->

    <!-- Angular Material Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
    <!-- script src="js/angular-material.min.js"></script -->

</head>

<body>
    <div id="tm-page-header" class="container-fluid">
        <div class="container">
            <a href="/">Home</a>
            <a href="/accounts.html">Accounts</a>
            <a href="/accounts.html#?accountTypes=Cash">Cash Accounts</a>
            <a href="/accounts.html#?accountTypes=Investment">Investment Accounts</a>
            <a href="/tags.html">Tags</a>
            <a href="/trans.html">Transactions</a>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="tm-portal" ng-controller="NewTransController">
                <h3>New Transactions <small>(awaiting your <b>ack</b>-nowledgement)</small></h3>
                <table class="table table-condensed table-hover tm-tran-table" ng-if="!isThinking">
                    <tr ng-include="'templates/new-tran-th.html'"></tr>
                    <tr ng-repeat="tran in newTrans" ng-include="'templates/new-tran-tr.html'"></tr>

                    <tr class="tm-list-totals">
                        <th></th>
                        <th class="text-right" tm-is-debit="{{ sumField(newTrans, 'amountValue') < 0 }}" >{{sumField(newTrans, 'amountValue') | currency}}</th>
                        <th></th>    <!-- pending -->
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                </table>
                <div>
                    <img src="icons/thinking.gif" ng-if="isThinking"/>
                </div>
            </div>
        </div>

        <div ng-controller="AccountSummaryController">
            
            <div class="row">
                <div class="tm-portal tm-account-list">
                    <h3>Bank &amp; Credit Accounts</h3>
                    <table class="table table-condensed table-hover">
                        <tr ng-include="'templates/account-th.html'"></tr>
                        <tr ng-repeat="account in bankAndCreditAccounts" ng-include="'templates/account-tr.html'"></tr>

                        <tr class="tm-account-list-total">
                            <th class="text-right" tm-is-debit='{{ bankAndCreditAccountsSums["value"] < 0 }}'>{{ bankAndCreditAccountsSums["value"] | currency }}</th>
                            <th>Total</th>
                            <th class="text-right" tm-is-debit='{{ bankAndCreditAccountsSums["last7days"] < 0 }}'>{{ bankAndCreditAccountsSums["last7days"] | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ bankAndCreditAccountsSums["last30days"] < 0 }}'>{{ bankAndCreditAccountsSums["last30days"] | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ bankAndCreditAccountsSums["last90days"] < 0 }}'>{{ bankAndCreditAccountsSums["last90days"] | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ bankAndCreditAccountsSums["last365days"] < 0 }}'>{{ bankAndCreditAccountsSums["last365days"] | currency:"$":0 }}</th>
                            <th></th>
                        </tr>
                    </table>
                    <div class="text-center">
                        <img src="icons/thinking.gif" ng-if="isThinking"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="tm-portal tm-account-list">
                    <h3>Investment &amp; Other Accounts</h3>
                    <table class="table table-condensed table-hover">
                        <tr ng-include="'templates/account-th.html'"></tr>
                        <tr ng-repeat="account in investmentAccounts" ng-include="'templates/account-tr.html'"></tr>

                        <tr class="tm-account-list-total">
                            <th class="text-right" tm-is-debit='{{ investmentAccountsSums["value"] < 0 }}'>{{ investmentAccountsSums["value"] | currency }}</th>
                            <th>Total</th>
                            <th class="text-right" tm-is-debit='{{ investmentAccountsSums["last7days"] < 0 }}'>{{ investmentAccountsSums["last7days"] | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ investmentAccountsSums["last30days"] < 0 }}'>{{ investmentAccountsSums["last30days"] | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ investmentAccountsSums["last90days"] < 0 }}'>{{ investmentAccountsSums["last90days"] | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ investmentAccountsSums["last365days"] < 0 }}'>{{ investmentAccountsSums["last365days"] | currency:"$":0 }}</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td height="50px"> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="tm-account-list-total">
                            <th class="text-right" tm-is-debit='{{ getNetWorth() < 0 }}'>{{ getNetWorth() | currency }}</th>
                            <th>Net worth</th>
                            <th class="text-right" tm-is-debit='{{ getNetWorthPerf( "last7days" ) < 0 }}'>{{ getNetWorthPerf( "last7days" ) | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ getNetWorthPerf( "last30days" ) < 0 }}'>{{ getNetWorthPerf( "last30days" ) | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ getNetWorthPerf( "last90days" ) < 0 }}'>{{ getNetWorthPerf( "last90days" ) | currency:"$":0 }}</th>
                            <th class="text-right" tm-is-debit='{{ getNetWorthPerf( "last365days" ) < 0 }}'>{{ getNetWorthPerf( "last365days" ) | currency:"$":0 }}</th>
                            <th></th>
                        </tr>
                    </table>
                    <div class="text-center">
                        <img src="icons/thinking.gif" ng-if="isThinking"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="tm-page-footer" class="container-fluid">
    </div>

</body>
</html>

