<div ng-controller="AccountListController" class="tm-portal tm-account-list">
    <h3>Account Summary</h3>
    <table class="table table-condensed table-hover" ng-if="!isThinking">
        <tr ng-include="'templates/account-th.html'"></tr>
        <tr ng-repeat="account in accounts" ng-include="'templates/account-tr.html'"></tr>

        <tr class="tm-account-list-total">
            <th class="text-right" tm-is-debit='{{ accountsSums["value"] < 0 }}'>{{ accountsSums["value"] | currency }}</th>
            <th>Total</th>
            <th class="text-right" tm-is-debit='{{ accountsSums["last7days"] < 0 }}'>{{ accountsSums["last7days"] | currency:"$":0}}</th>
            <th class="text-right" tm-is-debit='{{ accountsSums["last30days"] < 0 }}'>{{ accountsSums["last30days"] | currency:"$":0 }}</th>
            <th class="text-right" tm-is-debit='{{ accountsSums["last90days"] < 0 }}'>{{ accountsSums["last90days"] | currency:"$":0 }}</th>
            <th class="text-right" tm-is-debit='{{ accountsSums["last365days"] < 0 }}'>{{ accountsSums["last365days"] | currency:"$":0 }}</th>
            <th></th>
        </tr>
    </table>
    <div>
        <img src="icons/thinking.gif" ng-if="isThinking"/>
    </div>
</div>

