<ul class="list-unstyled list-new-trans">
    <li ng-repeat="tran in newTrans" >
        <div class="container">
            <div class="col-md-2">
                <div>
                    <span class="new-tran-date" ng-bind="tran.date"></span>
                    <span class="new-tran-amount" ng-bind="tran.amount"></span>
                </div>
                <form class="div-tags div-ack">
                    <span>
                        <button class="btn btn-info btn-sm" ng-click="ackNewTran(tran._id)">ack</button>
                    </span>
                </form>
            </div>
            <div class="col-md-10">
                <div>
                    <span class="new-tran-account">{{tran.fi}} - {{tran.account}}</span>
                    <span class="new-tran-merchant" ng-bind="tran.omerchant"></span>
                    <span> {{ (tran.isPending) ? "(pending)" : "" }} </span>
                </div>
                <div class="div-tags">
                    <span ng-repeat="tag in tran.tags" class="span-tag">{{tag}}</span>
                    <form class="form-tag" ng-submit="onFormSubmit()" ng-controller="TagFormController">
                        <span> 
                            <input type="text" 
                                   class="input-tag form-control input-sm" 
                                   pu-elastic-input 
                                   style="min-width: 60px; max-width: 150px;"
                                   ng-model="tagString" 
                                   ng-change="onTagInputChange()"
                                   placeholder="+ tag" />
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </li>
</ul>

