<!-- 
    scope deps:
        $scope.tran
        $scope.tags
        $scope.MiscUtils

-->
<tr>
    <td ng-bind="tran.date"></td>
    <td class="text-right" tm-is-debit="{{tran.isDebit}}" tm-is-transfer="{{tran.isTransfer}}" ng-bind="tran.amount"></td>
    <td class="tran-ispending">{{ (tran.isPending) ? "(pend)" : "" }}</td>
    <!-- td ng-bind="tran.merchant"></td -->
    <td><span data-toggle="tooltip" title="{{tran.omerchant}}">{{ tran.merchant }}<span><span class="tm-resolved-pending-tran" ng-if="MiscUtils.isDefined(tran.pendingTran)">({{tran.pendingTran.amount}} on {{tran.pendingTran.date}})</span></td>
    <td>{{tran.account}}</td>
    <td class="tm-tag-list" ng-controller="TagFormController">
        <span ng-repeat="tag in tran.tags" class="span-tag">
            {{tag}}
            <a class="span-tag-x" href="" ng-click="removeTag(tag)">x</a>
        </span>
        <form class="form-tag" ng-submit="onFormSubmit()" >
            <input type="text" 
                   id="input-tag-{{tran._id}}"
                   class="tm-input-tag form-control input-sm" 
                   pu-elastic-input 
                   style="min-width: 60px; max-width: 150px;"
                   ng-model="inputTag" 
                   tm-auto-fill="tags"
                   placeholder="+"
                   autocomplete="off" />
        </form>
    </td>
    <td>
        <form class="div-ack" ng-controller="TranAckFormController" >
            <button class="btn btn-info btn-sm" ng-click="ackTran(tran._id)">ack</button>
        </form>
    </td>
</tr>

