<div class="row">
    <!-- tag chart -->
    <div class="tm-portal" ng-controller="TagByMonthChartController">
        <h3><a href="" ng-click="tagOnClick()">Tag: {{tag}}</a></h3>
        <div class="text-center" ng-show="isChartVisible">
            <div class="tm-trans-canvas-thinking" > 
                <img src="icons/thinking.gif" ng-if="isChartThinking"/>
            </div>
            <canvas tm-chart-data="chartData" width="1000" height="250"></canvas>
        </div>
    </div>
</div>


